

.todo__login {
  width: 100%;
}

.todo__login h2 {
  margin: 0 0 1rem;
}

.todo__login_input {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.todo__login_input input[type="text"] {
  flex: 1;
}